@import '@styles/mixin.module.scss';


// .boxImg {
//     width: 300px;
//     height: 100%;
//     position: relative;
//     img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
// }
// .title {
//     font-size: 16px;
//     color: #222;
//     margin: 6px 0px;
// }

// .priceCl {
//     font-size: 14px;
//     color: #555;
//     font-weight: 400;
// }


.productCard {
    width: 300px;
    background-color: #d1cdcd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Thẻ Giảm giá (Góc trái trên) */
.discountTag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    color: #000;
    font-size: 14px;
    transform: rotate(-45deg);
    font-weight: bold;
    z-index: 1; /* Đảm bảo thẻ nằm trên cùng */
}

/* Vùng chứa ảnh */
.boxImg {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;

    img {
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
}

.title {
    font-size: 18px;
    color: #222;
    margin: 10px 0;
    font-weight: bold;
}

.priceCl {
    font-size: 16px;
    color: #e76f51;
    font-weight: bold;
}
