.container{
    background-color: #B3B3B3;
    width: 100%;
    padding-bottom: 40px;
}



.title {
    justify-content: center;
    display: flex;
}

.des{
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 2px solid black; 
    padding-bottom: 5px; 
}