
.container{
    margin-top: 80px;
    width: 100%;
    height: 500px;
    background-image: url('../../assets/icons/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Để hình nền phủ toàn bộ chiều rộng */
    position: relative; /* Thiết lập để các phần tử con có thể dựa vào */
    
}

