@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
.container{
    position: relative; /* Để định vị div2 bên trong */
    width: 100%;        /* Chiều rộng của div1 theo ý muốn */
    height: 450px;      /* Chiều cao ví dụ */
    background-size: contain;
    background-image: url("../../assets/icons/images/slider.png"); /* Nền cho div1 */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: -30px;
    border-radius: 10px;
}

.containerContent{
    position: absolute;  /* Để đặt div2 nằm trong div1 theo vị trí */
    right: 0;            /* Căn sang phải */
    width: 50%;          /* Rộng bằng 50% div1 */
    height: 100%;        /* Cao bằng chiều cao của div1 */
    // background-color: coral; /* Màu nền cho div2 */
}

.des1{
    font-family: 'Italianno';
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding-top: 150px;
    padding-bottom: 50px;
}

.des2{
    font-size: 35px;
    font-family: 'Italianno';
    padding-right: 10px;
    text-align: center;
}

